<div class="relative flex flex-col justify-center items-center pt-12">
  <div class="bg-base-200 w-full max-w-lg flex-col items-center rounded-lg p-8">
    <div class="prose flex flex-col items-center pb-5">
      <h1>Login</h1>
    </div>
    <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input
          type="text"
          placeholder="Email Address"
          class="w-full input input-bordered"
          formControlName="user_email"
          name="user_email"
        />
        @if (loginForm.get('user_email')?.invalid &&
        loginForm.get('user_email')?.touched) {
        <p class="text-error">Please enter an valid email</p>
        }@else if(inValidCredentials) {
        <p class="text-error">Invalid Credentials</p>
        }
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Password</span>
        </label>
        <input
          type="password"
          placeholder="Enter Password"
          class="w-full input input-bordered"
          formControlName="password"
          name="password"
        />
        @if(inValidCredentials) {
        <p class="text-error">Invalid Credentials</p>
        }
      </div>
      <div>
        <button
          class="btn btn-primary btn-block"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
      <div class="text-center mt-3">
        <span
          >Are you a new user ?
          <a
            class="text-blue-600 hover:text-blue-800 hover:underline"
            routerLink="/signup"
            >Signup</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
