<div class="relative flex flex-col justify-center items-center pt-12">
  <div class="bg-base-200 w-full max-w-lg flex-col items-center rounded-lg p-8">
    <div class="prose flex flex-col items-center pb-5">
      <h1>SignUp</h1>
    </div>
    <form class="space-y-4" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div>
        <label class="label">
          <span class="text-base label-text">Name</span>
        </label>
        <input
          type="text"
          placeholder="Name"
          class="w-full input input-bordered"
          formControlName="user_fullname"
          name="user_fullname"
        />
        @if (signUpForm.get('user_fullname')?.hasError('required') &&
        signUpForm.get('user_fullname')?.touched) {
        <p class="text-error">Please enter name</p>
        }
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Email</span>
        </label>
        <input
          type="text"
          placeholder="Email Address"
          class="w-full input input-bordered"
          formControlName="user_email"
          name="user_email"
        />
        @if (signUpForm.get('user_email')?.invalid &&
        signUpForm.get('user_email')?.touched) {
        <p class="text-error">Please enter an valid email</p>
        }
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Password</span>
        </label>
        <input
          type="password"
          placeholder="Enter Password"
          class="w-full input input-bordered"
          formControlName="password"
          name="password"
        />
        @if (signUpForm.get('password')?.invalid &&
        signUpForm.get('password')?.touched) {
        <p class="text-error">
          Passwords must contain uppercase, lowercase, number and special
          charecters and be minimum 8 characters long
        </p>
        }
      </div>
      <div>
        <label class="label">
          <span class="text-base label-text">Confirm Password</span>
        </label>
        <input
          type="password"
          placeholder="Confirm Password"
          class="w-full input input-bordered"
          formControlName="confirmPassword"
          name="confirmPassword"
        />
        @if (signUpForm.get('confirmPassword')?.touched &&
        signUpForm.get('confirmPassword') !== signUpForm.get('password')) {
        <p class="text-error">Passwords do not match</p>
        }
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="signUpForm.invalid"
        >
          Sign Up
        </button>
      </div>
      <div class="text-center mt-3">
        <span
          >Already have an account ?
          <a
            href="#"
            class="text-blue-600 hover:text-blue-800 hover:underline"
            routerLink="/login"
            >Login</a
          ></span
        >
      </div>
    </form>
  </div>
</div>
